<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/heropage.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/feef2720be.js" crossorigin="anonymous"></script>
</head>
<body>


<div class = 'home'>
    <header>titulo</header>
    <nav>menu</nav>
    <main>conteudo</main>
    <footer>Website by Miguel</footer>
</div>