<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meteorologia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meteo/estilo.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>
            Previsão do Tempo
        </h1>
    </header>

    <main>
        <a href="{% url 'portfolio:index' %}"><button>Inicio</button></a>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Website by Miguel</p>
    </footer>
</body>
</html>
