{% extends 'autenticacao/layout.html' %}

{% block content %}
    <h3>Log-in</h3>

    {% if mensagem %}
      <p>mensagem: {{ mensagem }}</p>
    {% endif %}
    <form action="{% url 'autenticacao:login' %}" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username..">
      <input type="password" name="password" placeholder="Password..">
      <input type="submit">
    </form>
    <p>Não possui uma conta?</p>
    <a href="{% url 'autenticacao:registo' %}"><button>Registar</button></a>

{% endblock %}